/* Make titles bold */
.md-content .md-typeset h1 {
    font-weight: 600;
    text-align: center;
  }
  .md-content .md-typeset h2, 
  .md-content .md-typeset h3 {
    font-weight: 600;
  }

/* Admonition police size and title weight */
.md-typeset .admonition,
.md-typeset .admonition-title,
.md-typeset details,
.md-typeset details summary {
  font-size: 0.8rem;
  font-weight: 500;
}
  
  /* Abstract admonition 
  .md-typeset .admonition.abstract,
  .md-typeset details.abstract {
    border-color: rgba(99, 108, 101, 0.3);
  }
  .md-typeset .abstract > .admonition-title,
  .md-typeset .abstract > summary {
    background-color: rgba(100, 100, 100, 0.1);
  }
  .md-typeset .abstract > .admonition-title::before,
  .md-typeset .abstract > summary::before {
    background-color: rgb(100, 100, 100);
  }
  .md-typeset .abstract > .admonition-title::before,
  .md-typeset .abstract > summary::after {
    background-color: rgb(100, 100, 100);
  }
  */
  
  /* Make logo bigger 
  .md-header__button.md-logo {
    margin: 0;
    padding: 0;
  }
  .md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2rem;
    width: 2rem;
  }
  */
  
  .bleu {
    color: #2aa4f0;
  }
  
  .rouge {
    color: #ee0f0f;
  }
  
  .jaune {
    color: #eeb60f;
  }
  
  .marron {
    color: #bb7e05;
  }
  
  .vert {
    color: #2ac71c;
  }