/* Make titles bold */
.md-content .md-typeset h1 {
    font-weight: 600;
    text-align: center;
  }
  .md-content .md-typeset h2, 
  .md-content .md-typeset h3 {
    font-weight: 600;
  }

.md-typeset table:not([class]) {
  font-size: 0.8rem;
}

/* extra-styles.css */
.md-typeset .md-typeset__table {
  display: block;
}
.md-typeset__table table:not([class]) {
  display: table;
}

/* Admonition police size and title weight */
.md-typeset .admonition,
.md-typeset .admonition-title,
.md-typeset details,
.md-typeset details summary {
  font-size: 0.8rem;
  font-weight: 500;
}

.bleu { color: #2aa4f0; }
.rouge { color: #ee0f0f; }
.jaune { color: #eeb60f; }
.marron { color: #bb7e05; }
.vert { color: #2ac71c; }


/* calculateurs */
.box {
  max-width: 820px;
  margin: 1rem 0 2rem;
  padding: 1rem 1rem .5rem;
  border: 1px solid var(--md-default-fg-color--lightest);
  border-radius: .75rem;
  background: var(--md-default-bg-color);
}
.row2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .6rem;
}
.row3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .6rem;
}
.box input {
  width: 100%;
  padding: .55rem .65rem;
  border: 1px solid var(--md-default-fg-color--lighter);
  border-radius: .5rem;
  background: var(--md-code-bg-color);
  font-size: .8rem;
}
.results {
  display:grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap:.75rem; margin:.5rem 0 .5rem;
}
.result {
  border:1px dashed var(--md-default-fg-color--lighter);
  border-radius:.5rem; padding:.6rem .8rem;
}
.result .value { font-size:.8rem; line-height:1.2; margin-top:.25rem; }
.result .title { opacity:.6}
.actions { margin:.25rem 0 .5rem; }
.actions button { font-size:.8rem; border:1px solid var(--md-default-fg-color--lighter); background:transparent; border-radius:.5rem; padding:.4rem .7rem; cursor:pointer; }


